---
layout:  default
title:   Modernizr News
body_id: news
---
		<section class="news-posts">
			<h3>News</h3>

			{% for post in site.posts limit:3 %}
			<article class="standalone">
				<h2>{{ post.title }}</h2>
				<footer class="posted">By {{ post.author }}, posted on <a href="{{ post.url }}">{{ post.date | date:'%B %d, %Y' | replace:' 0',' ' }}</a>.</footer>
				{{	post.content }}
			</article>
			{% endfor %}

			<h2>Previous posts</h2>
			<article class="standalone">
				<ul>
			{% for post in site.posts offset:5 %}
					<li><a href="{{ post.url }}">{{ post.title }}</a>
					<footer class="posted">{{ post.date | date:'%B %d, %Y' | replace:' 0',' ' }}</footer></li>
			{% endfor %}
				</ul>
			</article>
		</section>
