				<section id="latest-news">
					<h2>Latest news</h2>

					<article>
						<footer><time datetime="2012-09-04T20:35:20">April 2nd, 2013</time></footer>
						<h3><a href="/news/modernizr-v3-stickers-diversity/" class="permalink bookmark">Modernizr 3, Stickers &amp; Diversity</a></h3>
						<p>News on v.3, stickers, and a message from the team.</p>
					</article>

					<h4>Previous</h4>

					<article>
						<footer><time datetime="2012-09-04T20:35:20">January 7th, 2013</time></footer>
						<h3><a href="/news/modernizr-policy-feature-detects/" class="permalink bookmark">Modernizr Policy on Browser Bugs and Feature Detects</a></h3>
					</article>

					<article>
						<footer><time datetime="2012-09-04T20:35:20">September 4th, 2012</time></footer>
						<h3><a href="/news/modernizr-262" class="permalink bookmark">Modernizr 2.6.2 released</a></h3>
					</article>

					<article>
						<footer><time datetime="2012-07-19T20:20:20">July 19th, 2012</time></footer>
						<h3><a href="/news/modernizr-260" class="permalink bookmark">Modernizr 2.6 released</a></h3>
					</article>

				</section>
