				<section id="latest-news">
					<h2>Latest news</h2>

					<article>
						<footer><time datetime="2012-02-06T20:20:20">July 19th, 2012</time></footer>
						<h3><a href="/news/modernizr-260" class="permalink bookmark">Modernizr 2.6 released</a></h3>
						<p>New tests, improvements and more.</p>
					</article>

					<h4>Previous</h4>

					<article>
						<footer><time datetime="2012-02-06T20:20:20">February 6th, 2012</time></footer>
						<h3><a href="/news/modernizr-25" class="permalink bookmark">Modernizr 2.5: Supercharged for 2012</a></h3>
					</article>

					<article>
						<footer><time datetime="2011-11-07T10:48:00">November 7th, 2011</time></footer>
						<h3><a href="/news/modernizr-test-suite" class="permalink bookmark">How Does Modernizr’s Test Suite Work?</a></h3>
					</article>

					<article>
						<footer><time datetime="2011-09-01T00:00:00">September 1st, 2011</time></footer>
						<h3><a href="/news/modernizr-and-cdns" class="permalink bookmark">Modernizr and <abbr title="Content Delivery Networks">CDNs</abbr></a></h3>
					</article>

				</section>
