			
			
			
			
			
			
			
			
			<article> 
				<h2>Modernizr 1.7 changelog</h2> 
				<footer class="posted">By Team Modernizr, posted on <a href="/news/modernizr-17-changelog">May 12th, 2011</a>.</footer> 
				<p>We put 1.7 live some time ago but never got around to publishing a changelog. Since people have been asking, below are the core changes. For an exact changelog, see the <a href="https://github.com/Modernizr/Modernizr/compare/v1.6...v1.7">commit log on github between 1.6 and 1.7</a>.</p>
<p>At the heart of 1.7 are the following major changes:</p>
<ul>
<li>A weaker, less crash-prone test for WebGL</li>
<li>A fix for @font-face in certain browsers</li>
<li>Faster Drag &amp; Drop test</li>
<li>Updated IE Print Protector for better speed and reliability</li>
<li>One less content reflow&nbsp;due to better className setting</li>
</ul>
<p>Beyond these main changes, 1.7 fixes lots of small bugs like tiny memory leaks and the occasional false returns in certain browsers.&nbsp;</p>
<p>A small update on the Modernizr 2 front: we&rsquo;re getting very close to releasing it, so if you encounter any major bugs using either 1.7 or the <a href="http://modernizr.github.com/Modernizr/2.0-beta/">2.0 beta builder</a>, please <a href="https://github.com/Modernizr/Modernizr/issues">report them on github</a>&nbsp;as soon as possible. We already have a lot of issues and features pushed to our planned 2.1 release, but would love to make sure that the 2.0 release is the absolute best version of Modernizr yet.</p> 
			</article> 
    
			<article> 
				<h2>Modernizr 2 Beta</h2> 
				<footer class="posted">By Team Modernizr, posted on <a href="/news/modernizr-2-0-beta">January 17th, 2011</a>.</footer> 
				<p>A brand new year, a brand new Modernizr! What&rsquo;s new in 2011:</p>
<ul>
<li>A new addition to our team, Alex Sexton</li>
<li>We&rsquo;re introducing a new builder, so you can customize your download of Modernizr to suit your needs</li>
<li><a href="http://modernizr.github.com/Modernizr/2.0-beta/">A first beta release of Modernizr 2!</a></li>
</ul>
<p>But first, let&rsquo;s quickly recap what happened in 2010, which was a fantastic year for Modernizr. We had the major <a href="http://www.modernizr.com/news/modernizr-15">1.5 release</a> really <a href="http://engineering.twitter.com/2010/09/tech-behind-new-twittercom.html">hitting it big</a>, the incremental 1.6 and <a href="http://www.modernizr.com/news/modernizr-1-6">small site update</a>, and finishing off the year by winning the Open Source Application of the Year category at the <a href="http://www.thenetawards.com/">2010 .net Awards</a>. We&rsquo;d like to thank all of our contributors for their hard work making this such a great open source application. But looking forward to 2011, we have so much more in store for you that 2010 will appear mundane by comparison.</p>
<p>We&rsquo;re kicking it off with some pretty exciting news right away. First, we&rsquo;ve expanded our team to include <a href="http://alexsexton.com/">Alex Sexton</a>. Due to this addition we&rsquo;ve also formalized our individual roles in the Modernizr Team, as such:</p>
<ul>
<li><a href="http://farukat.es/">Faruk Ateş</a>: Project Lead</li>
<li><a href="http://paulirish.com/">Paul Irish</a>: Lead Developer </li>
<li><a href="http://alexsexton.com/">Alex Sexton</a>: Developer</li>
</ul>
<p>Second, Alex has been working on something we&rsquo;ve all wanted since the day Modernizr was released, and that&rsquo;s the ability to customize your own download of the library to only include the tests that you want. This functionality was kept out for simplicity&rsquo;s sake originally, but has become sorely needed since then. Thanks to Alex, Modernizr 2 will have this functionality&mdash;and even better than originally imagined, too. The original plan involved a server-side compiler, but Alex&rsquo;s fine work, unofficially named <em>Modulizr</em>, has brought us an all-client side builder.</p>
<p> </p>
<p>Best of all: you can start playing around with it <em>right now</em> because today we&rsquo;re launching <a href="http://modernizr.github.com/Modernizr/2.0-beta/">the first beta of Modernizr 2!</a></p>
<p>This very first beta introduces the customizability of Modernizr 2, allowing you to pick and choose the tests you want in your production-optimized download. We&rsquo;d love to get your feedback through use of the (beta) builder, so please head on over the beta page and configure your preferred download of Modernizr.</p>
<p>Looking beyond the beta, our road map for Modernizr already includes specifics for a 2.1 release. We&rsquo;re committed to getting Modernizr 2 finished and out in the open as soon as possible, and will have more announcements for you in the near future. For now, <a href="http://modernizr.github.com/Modernizr/2.0-beta/">enjoy the beta</a> and have a fantastic 2011!</p>
<p>&mdash; Team Modernizr</p> 
			</article> 
    
			<article> 
				<h2>Modernizr 1.6 &amp; The Road To 2.0</h2> 
				<footer class="posted">By <a href="http://farukat.es/">Faruk Ateş</a>, posted on <a href="/news/modernizr-1-6">October 25th, 2010</a>.</footer> 
				<p>Today we&rsquo;re announcing the new Modernizr 1.6, an interim release in the run-up to the upcoming Modernizr 2.0&mdash;a release slated for later this year which will take the library to the next level.</p>
<p>Before we get into what&rsquo;s new in 1.6, we want to quickly thank <a rel="external" href="http://twitter.com/darcy_clarke">Darcy Clarke</a> for his quick but handy CSS tweaks to our site, cleaning things up a little and improving legibility. Much like today&rsquo;s 1.6 release, these changes to the site reflect some of what&rsquo;s coming up in the new 2.0 release and the &ldquo;2.0&rdquo; website, if you will.</p>
<p>As said, Modernizr 1.6 is an interim release and closes some important issues while adding a few new detections. Besides bringing it down to a mere 3.8Kb minified and gzipped, the biggest improvement is a completely revised <strong>@font-face</strong> test, which fixes the FOUT&mdash;Flash Of Unstyled Text&mdash;which was a somewhat common issue when combining Modernizr with Typekit.</p>
<p>We&rsquo;ve also added support for WebGL, Touch events, <a rel="external" href="http://www.w3.org/TR/css3-flexbox/">Flexible Box Layouts</a> and Inline SVG. Additionally, several existing tests have been improved to better support newer browser releases, as well as fix some minor bugs.</p>
<p>There are some important changes in 1.6: first, the Modernizr.websqldatabase test has been simplified. It no longer creates a database, which solves <a rel="external" href="http://github.com/Modernizr/Modernizr/issues/closed#issue/113">an annoying Safari pop-up issue</a> and stops Modernizr from littering the web with databases, but it comes at somewhat of a cost: Chrome in Incognito mode will now false-positive on this test. The extended test remains commented-out in the non-minified source, for those who need it to be exact.</p>
<p>Second, we&rsquo;ve deprecated two properties: Modernizr.crosswindowmessaging and Modernizr.historymanagement. Going forward, these two properties are simply:</p>
<ul>
<li>Modernizr.postmessage</li>
<li>Modernizr.history</li>
</ul>
<p>Simpler, cleaner, and they now match the actual DOM property they&rsquo;re testing for. Keep in mind that, as with other tests, the Modernizr property is all-lowercase but the actual DOM property is window.post<strong>M</strong>essage.</p>
<p>Lastly, we&rsquo;ve put the oft-requested CSS text-shadow test in this release. It still false-positives in Firefox 3.0, but we think web designers are okay with that these days.</p>
<p>We hope you enjoy this new release, and stay tuned for big changes with the upcoming Modernizr 2.0!</p>
<p>Download the new Modernizr 1.6 from <a href="/">the front page</a></p> 
			</article> 
    
			<article> 
				<h2>Modernizr 1.5: new features, unit tests added</h2> 
				<footer class="posted">By <a href="http://farukat.es/">Faruk Ateş</a> and <a href="http://paulirish.com/">Paul Irish</a>, posted on <a href="/news/modernizr-15">June 14th, 2010</a>.</footer> 
				<p>We're proud and pleased to announce the immediate release of <a href="/">Modernizr <strong>1.5</strong></a>!</p>
<p>Rather than an incremental upgrade, we've opted to shift into a higher gear and add the full shebang of what we've been working on. Here's a list of new things we detect:</p>
<ul>
<li><a target="_blank" href="http://www.w3.org/TR/SVG/">SVG</a>! Including <a target="_blank" href="http://www.w3.org/TR/SVG11/masking.html">SVG Clipping Paths</a> and <a target="_blank" href="http://www.w3.org/TR/REC-smil/">SMIL</a></li>
<li><a target="_blank" href="http://dev.w3.org/html5/webdatabase/">Web SQL Database</a></li>
<li><a href="http://www.w3.org/TR/IndexedDB/">IndexedDB</a></li>
<li><a target="_blank" href="http://dev.w3.org/html5/websockets/">Web Sockets</a></li>
<li><a target="_blank" href="http://dev.w3.org/html5/spec/history.html#event-hashchange">hashchange event</a></li>
<li><a target="_blank" href="http://www.w3.org/TR/html5/history.html">History and Session Management</a></li>
<li><a target="_blank" href="http://dev.w3.org/html5/spec/dnd.html#dnd">HTML5 Drag and Drop</a></li>
<li><a target="_blank" href="http://www.w3.org/TR/html5/comms.html#posting-messages">Cross-document Messaging</a></li>
</ul>
<p>Additionally, IE can now print HTML5 elements (courtesy of <a target="_blank" href="http://twitter.com/jon_neal">@jon_neal</a>'s print protector), IE9 should be fully supported (<a target="_blank" href="http://twitter.com/?status=@Modernizr%20I%20found%20an%20IE9%20inconsistency">let us know if you discover inconsistencies</a>), and we also support more browsers: older Safari versions, Nokia and Blackberry mobile browsers, and Konqueror via the -khtml- prefix. Detection of Opera's CSS3 support for transitions and transforms was fixed, as well.</p>
<p>A few big things have kept us busy preparing a good release. Flash detection (Flash Blockers included) became a hot topic and we really wanted to include it, but at the time no reliable or complete mechanism was available. We wanted to include (and still recommend) Mark Pilgrim's excellent <a target="_blank" href="http://code.google.com/p/flashblockdetector/">Flash Block Detector</a> but decided that it was too large a codebase to include in the default release of Modernizr&mdash;especially given the <a target="_blank" href="http://www.modernizr.com/news/updates-on-modernizr-front">modular Modernizr 2 plans</a> on the horizon&mdash;and so Flash detection is out for now.</p>
<p>Then came the discovery that Google Chrome implemented <a target="_blank" href="http://www.quirksmode.org/mobile/tableTouch.html">Touch events</a> even on the desktop (why, Google, why?) paired with the regrettable fact that Palm's WebOS browser <em>doesn't support common Touch events at all</em>. For a browser that only exists on touch-based devices, this was too critical an issue for us to ignore. So Touch testing went out again, too.</p>
<p>We have many more features we'd like to include; please visit the <a href="http://github.com/Modernizr/Modernizr/issues/#list">Github issue tracker</a> to review all the additional tests.</p>
<p>For developers, contributors and people looking to learn from Modernizr we now have a set of <a target="_blank" href="http://github.com/Modernizr/Modernizr/tree/master/test/">unit tests available on the Github repository</a>, courtesy of Paul. These help prevent errors and inconsistencies from finding their way into the source code, making Modernizr more robust and reliable. The unit tests also include a second part, which pulls the data tables in from <a target="_blank" href="http://findmebyip.com/">Find Me By IP</a> and creates a feature parity overview for all the browsers.</p>
<p>Along with the 1.5 release comes a license upgrade: Modernizr is now <a href="/license/">dual-licensed under BSD and MIT</a>.</p>
<p>Thanks for all the input and code to miketaylr, fearphage, kangax, richbradshaw, @itpastorn, @jon_neal, dshaw, itrelease, mathiasbynens, airportyh, jeffsmith, rjcoelho, lucideer, peol and mislav. The high quality of this release wouldn't be possible with input from experts like these.</p>
<p>We hope you enjoy the hard work we've all put into it, but we'd love to hear your feedback on Modernizr 1.5's new changes, so <a target="_blank" href="http://twitter.com/?status=@Modernizr%20I%20think%20the%201.5%20release%20is%20%E2%80%A6%20">let us know via Twitter what you think</a>!</p> 
			</article> 
    
			<article> 
				<h2>Updates on the Modernizr front</h2> 
				<footer class="posted">By <a href="http://farukat.es/">Faruk Ateş</a>, posted on <a href="/news/updates-on-modernizr-front">April 14th, 2010</a>.</footer> 
				<p>As you've undoubtedly noticed, it's been relatively quiet on the Modernizr front from our side, with no news or new releases since the start of the year. Nonetheless, everyone else has started getting more and more busy <em>using</em> Modernizr to enhance their sites without sacrificing control over older browsers. Progressive Enhancement is becoming increasingly commonplace and we couldn't be more excited about that.</p>

<p>So where do things stand? Well, we've been working, <a href="http://github.com/Modernizr/Modernizr">over on Github</a>, at getting the next release of Modernizr ready, version 1.2. We're not quite there yet, but we are setting a planned release date of <strong>Thursday, April 22</strong>. Every time we're almost there another new feature or issue pops up that we have a hard time excluding from the next release, but it's more important to iterate regularly than do big pushes for a tool like this.</p>
<p>Related to all this has been an increasing effort towards realigning Modernizr; the site isn't what it could and should be, the community around Modernizr isn't as cohesive yet which leads to fragmented and overlapping efforts in promoting the tool, and the explanation of what Modernizr is and how it works is still lacking. Clearly, lots of room for improvement&mdash;and we're not just aware of it, we're working to fix it.</p>
<p>One of the biggest issues of the current site is the static-ness of it. For instance, we really want to promote sites that use Modernizr, but there's no easy way to submit your site to us. This and many other things will be addressed in the redesign.</p>
<p>The absolute biggest announcement is saved for last, and that is: <strong>Modernizr 2</strong>.</p>
<p>Early on, before Modernizr was released yet, my friend <a href="http://www.mkrieger.org/">Mike Krieger</a> and I were brainstorming on how to offer Modernizr. Initially, my plan had been to offer some configuration tool wherewith you could specify which features you wanted to test for, and download a customized build of Modernizr that suited your needs. Mikey and I got all excited by the possibilities of tracking this data, observing which features web designers &amp; developers were most interested in, and so forth.</p>
<p>Then we realized that this brought about a <em>ton</em> of complexity, far too much for the introduction of the library. So, we dropped that idea and instead focused on making a simple, easy to use toolkit without any complexity in how to get it: just download it, include it and you're set.</p>
<p>Well, turns out that the idea itself wasn't a <em>bad</em> one, it was just too ahead of its time. As the Modernizr library grew its feature-set, it also grew its footprint and execution time. Thanks to the talents of <a href="http://paulirish.com/">Paul</a> and the many contributors committing code over on Github, it has stayed incredibly lean and fast&mdash;but also at the cost of things we'd really like to add, like SVG.</p>
<p>SVG is an oft-requested feature for Modernizr to test against, and we really want to add it. But, to do it right would involve doing not just a basic one-line test against something like "window.SVG"&mdash;no, you have to do a very large number of tests so you can accurately report what parts of SVG the browser supports. To add that to Modernizr right now would bloat the library and slow it down, even though most users won't make use of it.</p>
<p>With <em>Modernizr 2</em> we'll be breaking things up a little and allow you to customize your download <em>if you so choose to</em>. There will still be one simple, default download containing the core features of the library, but for advanced users there will be a configuration tool so you can pick and choose and add (or subtract) all the features you want.</p>
<p>So those are some of the updates on Modernizr. Next week Thursday we hope to release version 1.2 so if all goes well, you'll hear from us again soon.</p>
 
			</article> 
    
			<article> 
				<h2>2009 is a wrap</h2> 
				<footer class="posted">By <a href="http://farukat.es/">Faruk Ateş</a>, posted on <a href="/news/2009-wrap">January 4th, 2010</a>.</footer> 
				<p>Since we launched with the first public release of Modernizr on <a href="http://twitter.com/Modernizr/status/2426150132">July 1st of last year</a>, we have seen some exciting things happen. The library itself has gone from a humble 0.9 beta to a rock solid 1.1 release, almost doubling the amount of features detected whilst maintaining a small codebase and a lean, fast execution of the script.</p>
<p>These developments have not gone unnoticed: searching the Web for "Modernizr" in June of last year produced only a couple dozen results, all from people misspelling "modernizer"; today, there are <a href="http://www.google.com/search?q=Modernizr">over 56,000 pages</a> on the Web talking about it. Mark Pilgrim's upcoming book, <a href="http://diveintohtml5.org/">Dive Into HTML5</a>, discusses Modernizr in great depth, and the <a href="http://oreilly.com/catalog/9780596155940">CSS Cookbook, 3rd Edition</a> features it as well.</p>
<p>The Modernizr.com website itself didn't sit still either; we welcomed well over 90,000 visitors, expanded with Documentation and News areas, endured two Google AppEngine downtimes and got some great feedback on how to better present and explain Modernizr to new visitors.</p>
<p>Of those 90K+ visitors, we have some interesting browser statistics to share with you:</p>
<ul>
<li>Firefox is still the web browser of choice for developers, accounting for 49% of all our visitors;</li>
<li>Safari comes second with 30%; not a huge surprise as more and more web designers and developers switch to the Mac, and Safari's built-in Web Inspector is a handy alternative to several Firefox plugins for debugging websites with;</li>
<li>Chrome is picking up momentum as well, guiding almost 9% of our visitors, leaving…</li>
<li>…Internet Explorer and Opera to battle for the remainder, together with a hodgepodge of miscellaneous browsers and browser versions.</li>
</ul>
<p>On the Operating System's side, we see the Mac platform edging out Windows just barely: 46.8% versus 46.5%. The various Linux flavors accounted for about 6% of visitors.</p>
<p>Looking at our screen resolutions data, I was amused and intrigued: its pie chart for Modernizr.com's visitors looks like a Trivial Pursuit logo, with almost equal shares for 1440x900, 1680x1050, 1920x1200, 1280x800, 1280x1024, with the last slice made up of all the remaining resolutions. Clearly there is no overly-dominant single resolution among web designers, but it's good to know the vast majority of our visitors has at least 1280 horizontal pixels available.</p>
<p>Looking ahead to 2010, we hope you'll continue to enjoy using Modernizr and perhaps even contribute to make this JavaScript library more versatile and useful as a tool for cutting-edge web developers.</p>
<p>— <a href="http://farukat.es/">Faruk Ateş</a> and <a href="http://paulirish.com/">Paul Irish</a></p> 
			</article> 
    
			<article> 
				<h2>This holiday season, give the gift of progressive enhancement with Modernizr 1.1!</h2> 
				<footer class="posted">By <a href="http://farukat.es/">Faruk Ateş</a>, posted on <a href="/news/modernizr-11">December 7th, 2009</a>.</footer> 
				<p>We&rsquo;re delighted to bring you <a href="http://www.modernizr.com/releases/#release-1.1">Modernizr 1.1</a>, a handy upgrade to the increasingly popular HTML5 and CSS3 detection toolkit. Now that <a href="http://github.com/Modernizr/Modernizr">Modernizr is on Github</a> we&rsquo;re seeing contributions come in for additional features from many different people. We want to express special thanks to Remy Sharp, Mike Taylor, Jan Lehnardt, Fearphage and Ms2ger for their work pushing Modernizr forward.&nbsp;</p>
<p>All of us who work on and contribute to Modernizr feel that it is <em>the</em> best way to start taking advantage of HTML5 and CSS3 in your websites today, which is why this new release covers even more ground of both specifications. We&rsquo;re heading towards supporting absolutely everything from the next generation of web technologies that is being implemented by any of the major browsers today, so that you as a developer know what you can <em>and can&rsquo;t</em> expect from your visitors&rsquo; browser.</p>
<p>New in this release is detection for:</p>
<ul>
<li>localStorage</li>
<li>sessionStorage</li>
<li>Web Workers</li>
<li>applicationCache</li>
<li>All new HTML5 input properties</li>
<li>HTML5 Audio and Video formats (supported codecs)</li>
</ul>
<p>We also support CSS Gradients the way Firefox/Mozilla have them implemented (<code>linear-gradient(&hellip;)</code> and <code>radial-gradient(&hellip;)</code> ). We still support Safari&rsquo;s syntax (<code>gradient(linear|radial, &hellip;)</code>, and use the same &ldquo;cssgradients&rdquo; property on the Modernizr object for it. That means you&rsquo;ll be responsible for covering both Firefox and Safari&rsquo;s CSS syntax if you take advantage of this feature and are working with fallbacks for the other browsers.</p>
<p>If all of that still isn&rsquo;t enough for you, Modernizr now features a simple plugin architecture so that you can add your own detection tests. To use the new <code>addTest()</code> method, please refer to <a href="http://www.modernizr.com/docs/">the updated Documentation</a>.</p>
<p>There is a lot more planned for Modernizr and this 1.1 release lays some of the ground work to reach that goal. We hope you enjoy this release and have a great month ringing out an exciting 2009.</p>
<p>&mdash; Team Modernizr</p> 
			</article> 
    
			<article> 
				<h2>Small October Updates</h2> 
				<footer class="posted">By <a href="http://farukat.es/">Faruk Ateş</a>, posted on <a href="/news/small-october-updates">October 11th, 2009</a>.</footer> 
				<p>A couple of quick update for you today. First, Modernizr is featured heavily in Mark Pilgrim's upcoming <a href="http://diveintohtml5.org/detect.html" rel="external">Dive Into HTML5</a>, which is being written and published online and will be available in book form upon completion. To get such prominent placement in one of Pilgrim's books is an honor, to say the least, but it especially strengthens our belief that progressive feature detection—which is what Modernizr does—is the best approach to web development today.</p>
<p>Second, we've added a site to <a href="/sites/">the gallery</a>: FindMeByIP.com uses Modernizr to tell you more than just your IP; it tells you what your browser is capable of. It's a beautiful design and we're excited to see Modernizr being used on it.</p>
<p>Lastly, there has been some feedback that the front page of Modernizr doesn't convey the value, purpose and benefits of the toolkit very well. These concerns have been taken into consideration and work is underway to change that. We definitely acknowledge that the real value of Modernizr isn't directly apparent, so we're planning to fix that. More on that hopefully soon.</p> 
			</article> 
    
			<article> 
				<h2>Github'd</h2> 
				<footer class="posted">By <a href="http://farukat.es/">Faruk Ateş</a>, posted on <a href="/news/githubd">September 26th, 2009</a>.</footer> 
				<p>Just a quick announcement that <a href="http://github.com/Modernizr/Modernizr">Modernizr is now available on Github</a>. Hack away!</p> 
			</article> 
    
			<article> 
				<h2>Modernizr, meet Github</h2> 
				<footer class="posted">By <a href="http://farukat.es/">Faruk Ateş</a>, posted on <a href="/news/modernizr-meet-github">September 24th, 2009</a>.</footer> 
				<p>When Modernizr was originally released in July, requests came in right away for seeing it hosted on code repositories like <a href="http://code.google.com/hosting/">Google Code</a> or <a href="http://github.com/">Github</a>. The promise at the time was: "once it goes 1.0".</p>
<p>We had only one real reason for not doing so right away: the choice of which public repository service to use. At the time, Modernizr's code base was created and managed pretty much solely by myself, and my experience with these repositories was pretty limited. I didn't want to commit to one only to realize halfway through the next release that I preferred another.</p>
<p>Well, Modernizr has since <a href="http://www.modernizr.com/news/modernizr-goes-1-0">gone 1.0</a> and not only that, but the project has a new code lieutenant. <a href="http://paulirish.com/">Paul Irish</a> will take on the role of governing Modernizr's codebase, with me taking a slightly more backseat spot in overseeing the general direction of the project. In other words, I'll play a more directorial role whilst Paul will deal with the specifics of the library's codebase.</p>
<p>Paul's skill and talent is already widely recognized and we feel he is a great fit for the role of code lieutenant for Modernizr.</p>
<p>His first assignment was to choose a code repository he felt most appropriate for Modernizr. We discussed the various pros and cons with regards to our needs (codebase, feedback, support tickets and so on) and what each service provides, and the choice has settled on: <b><a href="http://github.com/">Github</a></b>.</p>
<p>In the coming days, Modernizr will start living on Github and the Modernizr.com site will be updated to direct visitors there instead. Once there, everyone will be able to contribute to and work on Modernizr directly, making the library even better. Meanwhile, please welcome Paul as formal code lieutenant.</p> 
			</article> 
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			