{% extends 'modernizr/base.html' %}

{% block title %}Modernizr’s Contributors{% endblock %}

{% block body_id %}contributors{% endblock %}

{% block content_primary %}

            <section>
               <h2>Contributors</h2>
               
               <p class="intro-p">Modernizr would not be the great library it is today were it not for the fine contributions of the open source movement. The Modernizr team would like to thank the following people <a href="https://github.com/Modernizr/Modernizr/contributors" rel="external">for their contributions to the library</a>.</p>
               
               
               <div class="contributors-area">
                  <ul>
                     <li><small>Team</small> <a href="https://github.com/KuraFire">KuraFire</a> (Faruk Ateş)</li>
                     <li><small>Team</small> <a href="https://github.com/paulirish">paulirish</a> (Paul Irish)</li>
                     <li><small>Team</small> <a href="https://github.com/SlexAxton">SlexAxton</a> (Alex Sexton)</li>
                     <li><small>Team</small> <a href="https://github.com/ryanseddon">ryanseddon</a> (Ryan Seddon)</li>
                     <li><small>Team</small> <a href="https://github.com/aFarkas">aFarkas</a> (Alexander Farkas)</li>
                     
                     <li><a href="https://github.com/addyosmani">addyosmani</a> (Addy Osmani)</li>
                     <li><a href="https://github.com/mathiasbynens">mathiasbynens</a> (Mathias Bynens)</li>
                     <li><a href="https://github.com/cowboy">cowboy</a> (Ben Alman)</li>
                     <li><a href="https://github.com/fearphage">fearphage</a> (Phred)</li>
                     <li><a href="https://github.com/pdokas">pdokas</a> (Phil Dokas)</li>
                     <li><a href="https://github.com/thvd">thvd</a> (Theodoor van Donge)</li>
                     <li><a href="https://github.com/ZeeAgency">ZeeAgency</a> (Zee Agency)</li>
                     <li><a href="https://github.com/davidmurdoch">davidmurdoch</a> (David Murdoch)</li>
                     <li><a href="https://github.com/josh">josh</a> (Joshua Peek)</li>
                     <li><a href="https://github.com/devongovett">devongovett</a> (Devon Govett)</li>
                     <li><a href="https://github.com/StefanWallin">StefanWallin</a> (Stefan Wallin)</li>
                     <li><a href="https://github.com/scottjehl">scottjehl</a> (Scott Jehl)</li>
                     <li><a href="https://github.com/danbeam">danbeam</a> (Dan Beam)</li>
                     <li><a href="https://github.com/jussi-kalliokoski">jussi-kalliokoski</a> (Jussi Kalliokoski)</li>
                     <li><a href="https://github.com/psayre-sc">psayre-sc</a> (Paul Sayre)</li>
                     <li><a href="https://github.com/rzurad">rzurad</a> (Richard Zurad)</li>
                     <li><a href="https://github.com/donnut">donnut</a> (donnut)</li>
                     <li><a href="https://github.com/hfrntt">hfrntt</a> (Slawek Kolodziej)</li>
                     <li><a href="https://github.com/alrra">alrra</a></li>
                     <li><a href="https://github.com/uxder">uxder</a> (Scott Murphy)</li>
                     <li><a href="https://github.com/leods92">leods92</a> (Leonardo D. Schlossmacher)</li>
                     <li><a href="https://github.com/Calvein">Calvein</a> (François Robichet)</li>
                     <li><a href="https://github.com/nwtn">nwtn</a> (David Newton)</li>
                     <li><a href="https://github.com/Ms2ger">Ms2ger</a></li>
                     <li><a href="https://github.com/ralphholzmann">ralphholzmann</a> (Ralph Holzmann)</li>
                     <li><a href="https://github.com/benschwarz">benschwarz</a> (Ben Schwarz)</li>
                     <li><a href="https://github.com/shichuan">shichuan</a> (Shi Chuan)</li>
                     <li><a href="https://github.com/codepo8">codepo8</a> (Christian Heilmann)</li>
                     <li><a href="https://github.com/theostrahlen">theostrahlen</a> (Theo Strahlen)</li>
                     <li><a href="https://github.com/stereobooster">stereobooster</a></li>
                     <li><a href="https://github.com/itrelease">itrelease</a> (Anton Byrna)</li>
                     <li><a href="https://github.com/Zearin">Zearin</a> (Tony)</li>
                     <li><a href="https://github.com/chriseppstein">chriseppstein</a> (Chris Eppstein)</li>
                     <li><a href="https://github.com/stepahn">stepahn</a> (Stephan Zalewski)</li>
                     <li><a href="https://github.com/callum85">callum85</a></li>
                     <li><a href="https://github.com/rasmusfl0e">rasmusfl0e</a> (Rasmus Fløe)</li>
                     <li><a href="https://github.com/fredj">fredj</a> (Frédéric Junod)</li>
                     <li><a href="https://github.com/aakoch">aakoch</a> (Adam Koch)</li>
                     <li><a href="https://github.com/mislav">mislav</a> (Mislav Marohnić)</li>
                     <li><a href="https://github.com/csnover">csnover</a> (Colin Snover)</li>
                     <li><a href="https://github.com/theshock">theshock</a> (PavelPonomarenko)</li>
                     <li><a href="https://github.com/ausi">ausi</a> (Martin Auswöger)</li>
                     <li><a href="https://github.com/Deschtex">Deschtex</a></li>
                     <li><a href="https://github.com/chilicat">chilicat</a> (Daniel Kuffner)</li>
                     <li><a href="https://github.com/drewcovi">drewcovi</a> (Drew Covi)</li>
                     <li><a href="https://github.com/helgri">helgri</a> (Helge)</li>
                  </ul>
               </div>
               
            </section>

{% endblock %}



{% block content_secondary %}
            
{% include 'modernizr/community.html' %}
            
{% include 'modernizr/latest-news.html' %}
            
{% endblock %}