{% extends 'modernizr/base.html' %}

{% block title %}Modernizr Download Builder{% endblock %}

{% block current_download %} current{% endblock %}

{% block body_id %}builder{% endblock %}

{% block content_primary %}
				<section id="download" class="wt ">
               <h2><a href="/download/" class="wt dl-link">Download Modernizr 2</a></h2>
               <p class="intro-p">Use the <a href="/downloads/modernizr-latest.js">Development version</a> to develop with and learn from. Then, when you’re ready for production, use the build tool below to pick only the tests you need.</p>

               <div class="swap-region">
               <form action="#" class="builder">
                  <fieldset class="features" id="group-css3">
                     <legend class="wt"><abbr title="Cascading Style Sheets">CSS</abbr>3</legend>

                     <ul>
                        <li id="fontface"><label><input type="checkbox" value="fontface" /> @font-face</label></li>
                        <li id="backgroundsize"><label><input type="checkbox" value="backgroundsize" /> background-size</label></li>
                        <li id="borderimage"><label><input type="checkbox" value="borderimage" /> border-image</label></li>
                        <li id="borderradius"><label><input type="checkbox" value="borderradius" /> border-radius</label></li>
                        <li id="boxshadow"><label><input type="checkbox" value="boxshadow" /> box-shadow</label></li>
                        <li id="flexbox"><label><input type="checkbox" value="flexbox" /> Flexible Box Model (flexbox)</label></li>
                        <li id="hsla"><label><input type="checkbox" value="hsla" /> <abbr title="Hue, Saturation, Lightness, Alpha">hsla</abbr>()</label></li>
                        <li id="multiplebgs"><label><input type="checkbox" value="multiplebgs" /> multiple backgrounds</label></li>
                        <li id="opacity"><label><input type="checkbox" value="opacity" /> opacity</label></li>
                        <li id="rgba"><label><input type="checkbox" value="rgba" /> <abbr title="Red, Green, Blue, Alpha">rgba</abbr>()</label></li>
                        <li id="textshadow"><label><input type="checkbox" value="textshadow" /> text-shadow</label></li>
                        <li id="cssanimations"><label><input type="checkbox" value="cssanimations" /> CSS Animations</label></li>
                        <li id="csscolumns"><label><input type="checkbox" value="csscolumns" /> CSS Columns</label></li>
                        <li id="generatedcontent"><label><input type="checkbox" value="generatedcontent" /> CSS Generated Content</label></li>
                        <li id="cssgradients"><label><input type="checkbox" value="cssgradients" /> CSS Gradients</label></li>
                        <li id="cssreflections"><label><input type="checkbox" value="cssreflections" /> CSS Reflections</label></li>
                        <li id="csstransforms"><label><input type="checkbox" value="csstransforms" /> CSS 2D Transforms</label></li>
                        <li id="csstransforms3d"><label><input type="checkbox" value="csstransforms3d" /> CSS 3D Transforms</label></li>
                        <li id="csstransitions"><label><input type="checkbox" value="csstransitions" /> CSS Transitions</label></li>
                     </ul>
                  </fieldset>
                  <fieldset class="features" id="group-html5">
                     <legend class="wt"><abbr title="HyperText Markup Language">HTML</abbr>5</legend>
                     <ul>
                        <li id="applicationcache"><label><input type="checkbox" value="applicationcache" /> applicationCache</label></li>
                        <li id="canvas"><label><input type="checkbox" value="canvas" /> Canvas</label></li>
                        <li id="canvastext"><label><input type="checkbox" value="canvastext" /> Canvas Text</label></li>
                        <li id="draganddrop"><label><input type="checkbox" value="draganddrop" /> Drag 'n Drop</label></li>
                        <li id="hashchange"><label><input type="checkbox" value="hashchange" /> hashchange</label></li>
                        <li id="history"><label><input type="checkbox" value="history" /> History (pushState)</label></li>
                        <li id="audio"><label><input type="checkbox" value="audio" /> HTML5 Audio</label></li>
                        <li id="video"><label><input type="checkbox" value="video" /> HTML5 Video</label></li>
                        <li id="indexeddb"><label><input type="checkbox" value="indexeddb" /> IndexedDB</label></li>
                        <li id="input"><label><input type="checkbox" value="input" /> Input Attributes</label></li>
                        <li class="note"><em>Note: does not add classes</em></li>
                        <li id="inputtypes"><label><input type="checkbox" value="inputtypes" /> Input Types</label></li>
                        <li class="note"><em>Note: does not add classes</em></li>
                        <li id="localstorage"><label><input type="checkbox" value="localstorage" /> localStorage</label></li>
                        <li id="postmessage"><label><input type="checkbox" value="postmessage" /> postMessage</label></li>
                        <li id="sessionstorage"><label><input type="checkbox" value="sessionstorage" /> sessionStorage</label></li>
                        <li id="websockets"><label><input type="checkbox" value="websockets" /> Web Sockets</label></li>
                        <li id="websqldatabase"><label><input type="checkbox" value="websqldatabase" /> Web SQL Database</label></li>
                        <li id="webworkers"><label><input type="checkbox" value="webworkers" /> Web Workers</label></li>
                     </ul>
                  </fieldset>
                  <fieldset class="features" id="group-misc">
                     <legend class="wt"><abbr title="Miscellaneous">Misc.</abbr></legend>
                     <ul>
                        <li id="geolocation"><label><input type="checkbox" value="geolocation" /> Geolocation API</label></li>
                        <li id="inlinesvg"><label><input type="checkbox" value="inlinesvg" /> Inline SVG</label></li>
                        <li id="smil"><label><input type="checkbox" value="smil" /> SMIL</label></li>
                        <li id="svg"><label><input type="checkbox" value="svg" /> SVG</label></li>
                        <li id="svgclippaths"><label><input type="checkbox" value="svgclippaths" /> SVG clip paths</label></li>
                        <li id="touch"><label><input type="checkbox" value="touch" /> Touch Events</label></li>
                        <li id="webgl"><label><input type="checkbox" value="webgl" /> WebGL</label></li>
                     </ul>
                  </fieldset>
                  <fieldset class="features" id="group-plugins">
                     <legend class="wt">Extra</legend>
                     <ul>
                        <li id="iepp"><label><input type="checkbox" checked value="iepp" /> HTML5 Shim/<abbr title="Internet Explorer Print Protector">IEPP</abbr></label></li>
                        <li id="load"><label><input type="checkbox" checked value="load" /> Modernizr.load <br>( <a href="http://yepnopejs.com/" target="_new">yepnope.js</a> )</label></li>
                        <li id="respond"><label><input type="checkbox" value="respond" /> <abbr title="Media Query support for older browsers. Uses an external library.">MQ Polyfill</abbr> ( <a href="https://github.com/scottjehl/Respond">respond.js</a> )</label></li>
                        <li id="mq"><label><input type="checkbox" value="mq" /> Media Queries</label></li>
                        <li id="cssclasses"><label><input type="checkbox" checked value="cssclasses" /> Add CSS Classes</label></li>

                     </ul>
                  </fieldset>
                   <fieldset class="features" id="group-extensibility">
                       <details>
                         <summary><legend class="wt">Extensibility</legend> </summary>
                         <ul>
                            <li id="addtest"><label><input type="checkbox" value="addtest" /> Modernizr.addTest</label></li>
                            <li id="prefixed"><label><input type="checkbox" value="prefixed" /> Modernizr.prefixed()</label></li>
                            <li id="teststyles"><label><input type="checkbox" value="teststyles" /> Modernizr.testStyles()</label></li>
                            <li id="testprop"><label><input type="checkbox" value="testprop" /> Modernizr.testProp()</label></li>
                            <li id="testallprops"><label><input type="checkbox" value="testallprops" /> Modernizr.testAllProps()</label></li>
                            <li id="hasevent"><label><input type="checkbox" value="hasevent" /> Modernizr.hasEvent()</label></li>
                            <li id="prefixes"><label><input type="checkbox" value="prefixes" /> Modernizr._prefixes</label></li>
                            <li id="domprefixes"><label><input type="checkbox" value="domprefixes" /> Modernizr._domPrefixes</label></li>
                         </ul>
                        </details>

                    </fieldset>
               <fieldset class="features" id="community-feature-detects">
                  <details>
                     <summary><legend class="wt">Community</legend> </summary>
                     <ul>
<li id="cookies"><label><input type="checkbox" value="cookies" /> Cookies</label></li>
<li id="css_backgroundrepeat"><label><input type="checkbox" value="css_backgroundrepeat" /> background-repeat</label></li>
<li id="css_backgroundsizecover"><label><input type="checkbox" value="css_backgroundsizecover" /> background-size-cover</label></li>
<li id="css_boxsizing"><label><input type="checkbox" value="css_boxsizing" /> box-sizing</label></li>
<li id="css_cubicbezierrange"><label><input type="checkbox" value="css_cubicbezierrange" /> cubic-bezier-range</label></li>
<li id="css_displaytable"><label><input type="checkbox" value="css_displaytable" /> display table</label></li>
<li id="css_overflow_scrolling"><label><input type="checkbox" value="css_overflow_scrolling" /> overflow-scrolling</label></li>
<li id="css_pointerevents"><label><input type="checkbox" value="css_pointerevents" /> pointer events</label></li>
<li id="css_userselect"><label><input type="checkbox" value="css_userselect" /> userselect</label></li>
<li id="custom_protocol_handler"><label><input type="checkbox" value="custom_protocol_handler" /> Custom Protocol Handler</label></li>
<li id="dom_createElement_attrs"><label><input type="checkbox" value="dom_createElement_attrs" /> createElement attr</label></li>
<li id="elem_details"><label><input type="checkbox" value="elem_details" /> details</label></li>
<li id="elem_progress_meter"><label><input type="checkbox" value="elem_progress_meter" /> Progress Meter</label></li>
<li id="emoji"><label><input type="checkbox" value="emoji" /> Emoji</label></li>
<li id="event_deviceorientation_motion"><label><input type="checkbox" value="event_deviceorientation_motion" /> deviceorientation motion</label></li>
<li id="file_api"><label><input type="checkbox" value="file_api" /> File API</label></li>
<li id="forms_placeholder"><label><input type="checkbox" value="forms_placeholder" /> placeholder</label></li>
<li id="hyphens"><label><input type="checkbox" value="hyphens" /> hyphens</label></li>
<li id="img_webp"><label><input type="checkbox" value="img_webp" /> webp</label></li>
<li id="url_data_uri"><label><input type="checkbox" value="url_data_uri" /> data-uri</label></li>
<li id="webgl_extensions"><label><input type="checkbox" value="webgl_extensions" /> webgl extensions</label></li>
<li id="window_framed"><label><input type="checkbox" value="window_framed" /> framed</label></li>
<li id="workers_sharedworkers"><label><input type="checkbox" value="workers_sharedworkers" /> sharedworkers</label></li>



                     </ul>
                  </details>

               </fieldset>




                  <div class="buttons-area">
                     <a href="#-generate" class="wt btn dev" id="generate">Generate! <span>(requires JavaScript)</span></a>
                     <a class="btn2">Download custom build</a>
                  </div>
               </form>

               <div id="source">
                  <textarea readonly="readonly" class="source-area default" id="generatedSource">// Minified source</textarea>

               </div>

               </div><!-- .swap-region -->

            </section>

        <script>
          Modernizr.load({
            test: window.jQuery,
            nope: '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js',
            both: '/i/js/builderapp.min.js?fd1'
          });
        </script>
{% endblock %}



{% block content_secondary %}

{% include 'modernizr/community.html' %}

{% include 'modernizr/latest-news.html' %}

{% endblock %}
