            <section id="latest-news">
               <h2>Latest news</h2>
         
               <article>
                  <footer><time datetime="2011-09-01T00:00:00">September 1st, 2011</time></footer>
                  <h3><a href="/news/modernizr-and-cdns" class="permalink bookmark">Modernizr and <abbr title="Content Delivery Networks">CDNs</abbr></a></h3>
                  <p>A quick guide on when to use which version of Modernizr: development, CDN and production.</p>
               </article>
         
               <h4>Previous</h4>
         
               <article>
                  <footer><time datetime="2011-05-16T15:50:09">June 1st, 2011</time></footer>
                  <h3><a href="/news/modernizr-2" class="permalink bookmark">Modernizr 2</a></h3>
               </article>
         
               <article>
                  <footer><time datetime="2011-05-16T15:50:09">May 12th, 2011</time></footer>
                  <h3><a href="/news/modernizr-17-changelog" class="permalink bookmark">Modernizr 1.7 changelog</a></h3>
               </article>
         
               <article>
                  <footer><time datetime="2011-05-16T15:50:09">January 17th, 2011</time></footer>
                  <h3><a href="/news/modernizr-2-0-beta" class="permalink bookmark">Modernizr 2 Beta</a></h3>
               </article>
         
<!--              <article>
                  <footer><time datetime="2011-05-16T15:50:09">October 25th, 2010</time></footer>
                  <h3><a href="/news/modernizr-1-6" class="permalink bookmark">Modernizr 1.6 &amp; The Road To 2.0</a></h3>
               </article> -->

            </section>