{% extends 'modernizr/base.html' %}

{% block title %}Modernizr News{% endblock %}

{% block current_news %} current{% endblock %}

{% block body_id %}news{% endblock %}

{% block content_primary %}
		<section class="news-posts">
			<h2>News</h2>
			
    {% for post in news %}
			<article class="standalone">
				<h3>{{ post.title|safe }}</h3>
				<footer class="posted">By {{ post.author|safe }}, posted on <a href="/news/{{ post.slug }}">{{ post.date|date:"F jS, Y" }}</a>.</footer>
				{{	post.content|safe }}
			</article>
    {% endfor %}
		</section>
{% endblock %}



{% block content_secondary %}
				
{% include 'modernizr/community.html' %}

{% endblock %}
