{% extends 'base.html' %}
{% block title %}Welcome!{% endblock %}

{% block content %}
<h1>Welcome to the app-engine-patch sample project</h1>
<p>This is your automatically scaling site!</p>

<p>
This sample project includes a port of <a href="http://www.bitbucket.org/ubernostrum/django-registration/wiki/Home">django-registration</a>. We maintain a list of <a href="http://code.google.com/p/app-engine-patch/wiki/OpenSourceProjects">open-source projects</a> to get you started faster with App Engine development.
</p>
{% endblock %}
